:root {
	/* Font */
	--ff-inter: 'Inter', sans-serif;
	/* Font Weight */
	--fw-Reguler: 400;
	--fw-Bold: 700;
	-fw-extar-bold: 800;

	/* Font Size */
	--fs: 1rem;

	/* COLOR */

	/* Primary */
	--Soft-orange: hsl(35, 77%, 62%);
	--Soft-red: hsl(5, 85%, 63%);
	/* Neutral */
	--Off-white: hsl(36, 100%, 99%);
	--Grayish-blue: hsl(233, 8%, 79%);
	--Dark-grayish-blue: hsl(236, 13%, 42%);
	--Very-dark-blue: hsl(240, 100%, 7%);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
